[submodule "CherryFootprints.pretty/KiCAD-Keyboard-Tutorial"]
	path = CherryFootprints.pretty/KiCAD-Keyboard-Tutorial
	url = https://github.com/BathroomEpiphanies/KiCAD-Keyboard-Tutorial.git
[submodule "CherryKeys/KiCAD-Keyboard-Tutorial"]
	path = CherryKeys/KiCAD-Keyboard-Tutorial
	url = https://github.com/BathroomEpiphanies/KiCAD-Keyboard-Tutorial.git
